<div class="row">
  <div class="col-xl-12">

    <div class="row" style="padding-top: 20px; text-align: center;">
      <div class="col-xl-12">

        <h1>Welcome to Angular Shop!</h1>

      </div>
    </div>

    <br>



    <div class="row">
      <div class="col-xl-11" style="text-align: right;">
        <button mat-raised-button color="primary">Add New Product</button>
      </div>
    </div>


    <div class="row"
         style="padding-top: 30px; text-align: center; font-weight: bold; font-size: 17px;"
         *ngIf="products.length === 0; else productExists">
      <div class="col-xl-12">

        No products available. It's easy to create one!

      </div>
    </div>

    <ng-template #productExists>

      <div class="row" style="padding-top: 30px">
        <div class="offset-xl-1 col-xl-10"
             style="padding: 10px; border-radius: 4px">

          <div class="row"
               style="
             padding-bottom: 10px;
             font-weight: 500;
             font-size: 17px;">

            <div class="col-xl-4">
              Name
            </div>

            <div class="col-xl-3">
              Category
            </div>

            <div class="col-xl-3">
              Created Date
            </div>

            <div class="col-xl-2" style="text-align: center;">
              Actions
            </div>

          </div>


          <div class="row"
               style="
             padding-bottom: 10px;
             padding-top: 10px;
             border-bottom: thin solid #e2e2e2"
               *ngFor="let product of products; let i = index">

            <div class="col-xl-4">
              {{ i +1 }}. {{ product.Name }}
            </div>

            <div class="col-xl-3">
              {{ product.Category }}
            </div>

            <div class="col-xl-3">
              {{ product.CreatedDate }}
            </div>

            <div class="col-xl-1">
              <button mat-stroked-button>Edit</button>
            </div>

            <div class="col-xl-1">
              <button mat-stroked-button color="warn">Delete</button>
            </div>

          </div>

        </div>
      </div>

    </ng-template>

  </div>
</div>
